@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

/* Dictionary entry styling */
d|entry {
}

/* Headword (Shavian text) */
h1 {
	font-size: 250%;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

hr {
	border: none;
	border-top: 1px solid #ddd;
	margin: 1.5em 0;
}

/* Forms section - English words with IPA */
.forms {
	margin: 0.5em 0;
	padding: 0.5em;
	background-color: #f5f5f5;
	border-radius: 4px;
}

/* Lemma form (main entry) */
.lemma-form {
	font-size: 130%;
	font-weight: bold;
	margin: 0.5em 0;
}

/* Derived form (indented) */
.derived-form {
	font-size: 110%;
	margin: 0.5em 0 0.5em 1.5em;
	color: #555;
}

.ipa {
	color: #666;
	font-family: "Doulos SIL", "Charis SIL", serif;
	margin-left: 0.75em;
}

.gramform {
	color: #888;
	font-size: 90%;
	font-style: italic;
	margin-left: 0.3em;
}

.variant {
	color: #888;
	font-size: 90%;
	font-style: italic;
	font-weight: normal;
	margin-left: 0.5em;
}

/* Definitions section */
.definitions {
	margin-top: 1em;
}

/* Part of speech group */
.pos-group {
	margin: 1em 0;
}

.pos-group h3 {
	font-size: 110%;
	font-weight: bold;
	color: #0066cc;
	margin: 0.5em 0 0.3em 0;
}

.pos-group p {
	margin: 0.3em 0 0.3em 1em;
	line-height: 1.6;
}

/* Examples list */
.examples {
	margin: 0.5em 0 0.5em 2em;
	padding-left: 0;
	list-style-type: circle;
}

.examples li {
	margin: 0.3em 0;
	color: #555;
	font-style: italic;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}

	hr {
		border-top-color: #444;
	}

	.forms {
		background-color: #2a2a2a;
	}

	.derived-form {
		color: #bbb;
	}

	.ipa {
		color: #aaa;
	}

	.gramform {
		color: #999;
	}

	.variant {
		color: #999;
	}

	.pos-group h3 {
		color: #66b3ff;
	}

	.examples li {
		color: #bbb;
	}
}
