[submodule "external/english-wordnet"]
	path = external/english-wordnet
	url = https://github.com/globalwordnet/english-wordnet.git
[submodule "external/readlex"]
	path = external/readlex
	url = https://github.com/Shavian-info/readlex.git
[submodule "external/frequency-words"]
	path = external/frequency-words
	url = https://github.com/hermitdave/FrequencyWords.git
	# ~1.4 GB of all languages; we use only content/2018/en/en_full.txt.
	# `make setup` checks this out lean (sparse-checkout). See
	# src/tools/setup-submodules.sh.
	shallow = true
[submodule "external/cmudict"]
	path = external/cmudict
	url = https://github.com/cmusphinx/cmudict.git
	shallow = true
