[submodule "external/english-wordnet"]
	path = external/english-wordnet
	url = https://github.com/globalwordnet/english-wordnet.git
[submodule "external/readlex"]
	path = external/readlex
	url = https://github.com/Shavian-info/readlex.git
[submodule "external/hunspell-en"]
	path = external/hunspell-en
	url = https://github.com/marcoagpinto/aoo-mozilla-en-dict.git
