<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>ShavianSpellServer</string>
	<key>CFBundleIdentifier</key>
	<string>com.shawdict.spellserver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShavianSpellServer</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025. All rights reserved.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSSpellChecker</key>
			<string>ShawDict</string>
			<key>NSLanguages</key>
			<array>
				<string>English</string>
				<string>en_US</string>
				<string>en_GB</string>
				<string>en_AU</string>
				<string>en_CA</string>
				<string>en_NZ</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
