<h2>𐑩𐑚𐑬𐑑 ·𐑖𐑷-·𐑕𐑐𐑧𐑤 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦</h2>

<p>𐑞 ·𐑖𐑱𐑝𐑾𐑯 𐑨𐑤𐑓𐑩𐑚𐑧𐑑 (𐑷𐑤𐑕𐑴 𐑯𐑴𐑯 𐑨𐑟 𐑞 ·𐑖𐑷 𐑨𐑤𐑓𐑩𐑚𐑧𐑑) 𐑦𐑟 𐑩 𐑓𐑩𐑯𐑧𐑑𐑦𐑒 𐑨𐑤𐑓𐑩𐑚𐑧𐑑 𐑓 𐑞 ·𐑦𐑙𐑜𐑤𐑦𐑖 𐑤𐑨𐑙𐑜𐑢𐑦𐑡.</p>

<p>𐑞𐑦𐑕 𐑢𐑧𐑚 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦, 𐑮𐑦𐑤𐑰𐑕𐑑 𐑚𐑲 joro.io, 𐑦𐑟 𐑐𐑸𐑑 𐑝 ·𐑖𐑷-·𐑕𐑐𐑧𐑤 $VERSION$, 𐑐𐑮𐑩𐑝𐑲𐑛𐑦𐑙 𐑒𐑪𐑥𐑐𐑮𐑦𐑣𐑧𐑯𐑕𐑦𐑝 ·𐑖𐑱𐑝𐑾𐑯-·𐑦𐑙𐑜𐑤𐑦𐑖 𐑑𐑮𐑨𐑯𐑟𐑤𐑱𐑖𐑩𐑯 𐑯 𐑛𐑧𐑓𐑦𐑯𐑦𐑖𐑩𐑯 𐑕𐑩𐑐𐑹𐑑.</p>

<p>𐑒𐑩𐑥𐑐𐑲𐑤𐑛 𐑿𐑟𐑦𐑙 ·Shavian.info's <a href="https://github.com/Shavian-info/readlex" target="_blank">𐑮𐑰𐑛𐑤𐑧𐑒𐑕 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦</a> 𐑓 𐑑𐑮𐑨𐑯𐑟𐑤𐑱𐑖𐑩𐑯𐑟 𐑯 ·𐑦𐑐𐑩 𐑑𐑮𐑨𐑯𐑕𐑒𐑮𐑦𐑐𐑖𐑩𐑯𐑟, 𐑯 ·𐑴𐑐𐑩𐑯 𐑦𐑙𐑜𐑤𐑦𐑖 𐑢𐑻𐑛𐑯𐑧𐑑 2024 𐑓 𐑞 𐑢𐑻𐑛 𐑛𐑦𐑕𐑒𐑮𐑦𐑐𐑖𐑩𐑯𐑟.</p>

<h3>𐑓𐑰𐑗𐑼𐑟</h3>
<ul>
    <li>𐑕𐑻𐑗 𐑦𐑯 𐑚𐑴𐑔 ·𐑤𐑨𐑑𐑦𐑯 𐑯 ·𐑖𐑱𐑝𐑾𐑯 𐑕𐑒𐑮𐑦𐑐𐑑𐑕</li>
    <li>·𐑦𐑙𐑜𐑤𐑦𐑖-𐑑-·𐑖𐑱𐑝𐑾𐑯 𐑯 ·𐑖𐑱𐑝𐑾𐑯-𐑑-·𐑦𐑙𐑜𐑤𐑦𐑖 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦𐑟</li>
    <li>𐑕𐑩𐑐𐑹𐑑 𐑓 𐑚𐑴𐑔 ·𐑡𐑰𐑚𐑰 𐑯 [·⸰⁠𐑿𐑕 / ·𐑳𐑕] 𐑛𐑲𐑩𐑤𐑧𐑒𐑑𐑕</li>
    <li>·𐑪𐑐𐑖𐑩𐑯𐑩𐑤 𐑖𐑱𐑝𐑾𐑯-𐑴𐑯𐑤𐑦 𐑛𐑧𐑓𐑦𐑯𐑦𐑖𐑩𐑯𐑟 𐑓 𐑦𐑥𐑻𐑕𐑦𐑝 𐑤𐑻𐑯𐑦𐑙</li>
</ul>

<p style="font-size: 11px; margin-top: 20px; border-top: 1px solid #ddd; padding-top: 10px; text-align: center;">
·𐑒𐑪𐑐𐑦𐑮𐑲𐑑 © 2025 joro.io (·𐑥𐑦𐑑 𐑤𐑲𐑕𐑩𐑯𐑕). 𐑦𐑯𐑒𐑤𐑵𐑛𐑟 ·𐑮𐑰𐑛𐑤𐑧𐑒𐑕 (·𐑥𐑦𐑑), ·𐑴𐑐𐑩𐑯 𐑦𐑙𐑜𐑤𐑦𐑖 𐑢𐑻𐑛𐑯𐑧𐑑 (·𐑕𐑰𐑕𐑰 𐑚𐑲 4.0).
</p>
