<h3>
    𐑩𐑚𐑬𐑑 𐑞 𐑐𐑮𐑪𐑡𐑧𐑒𐑑
</h3>
<p>
    ·𐑖𐑷-·𐑕𐑐𐑧𐑤 𐑦𐑟 𐑩 𐑚𐑲𐑛𐑦𐑮𐑧𐑒𐑖𐑩𐑯𐑩𐑤 𐑖𐑱𐑝𐑾𐑯-"𐑦𐑙𐑜𐑤𐑦𐑖" 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦 𐑞𐑨𐑑 𐑲 𐑛𐑦𐑝𐑧𐑤𐑩𐑐𐑑 𐑢𐑦𐑞 ·𐑒𐑤𐑷𐑛 𐑒𐑴𐑛,
    𐑢𐑦𐑗 𐑦𐑟 𐑷𐑤𐑕𐑴 𐑩𐑝𐑱𐑤𐑩𐑚𐑩𐑤 𐑨𐑟 𐑩 𐑯𐑱𐑑𐑦𐑝 ·𐑥𐑨𐑒𐑴𐑧𐑕 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦 𐑯 𐑕𐑐𐑧𐑤-𐑗𐑧𐑒𐑼!
</p>
<p>
    𐑞 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦𐑟 𐑢𐑻 𐑚𐑦𐑤𐑑 𐑪𐑯 𐑑𐑪𐑐 𐑝 <a href="https://readlex.pythonanywhere.com">·𐑮𐑰𐑛𐑤𐑧𐑒𐑕</a>,
    𐑞 𐑷𐑔𐑪𐑮𐑦𐑑𐑩𐑑𐑦𐑝 𐑕𐑹𐑕 𐑝 𐑑𐑮𐑵𐑔 𐑓 ·𐑖𐑱𐑝𐑾𐑯 𐑕𐑐𐑧𐑤𐑦𐑙. 𐑞 𐑢𐑻𐑛 𐑛𐑧𐑓𐑦𐑯𐑦𐑖𐑩𐑯𐑟 𐑒𐑳𐑥 𐑓𐑮𐑪𐑥
    <a href="https://github.com/globalwordnet/english-wordnet">·𐑴𐑐𐑩𐑯 𐑢𐑻𐑛𐑯𐑧𐑑</a>.
    𐑞 ·𐑥𐑩𐑒𐑵𐑟 𐑕𐑐𐑧𐑤𐑦𐑙-𐑒𐑼𐑧𐑒𐑖𐑩𐑯 𐑧𐑯𐑡𐑦𐑯 𐑦𐑟 𐑚𐑦𐑤𐑑 𐑿𐑟𐑦𐑙 ·𐑣𐑳𐑯𐑕𐑐𐑧𐑤, 𐑩𐑜𐑧𐑯 𐑿𐑟𐑦𐑙 𐑞 ·𐑮𐑰𐑛𐑤𐑧𐑒𐑕 𐑯 ·𐑢𐑻𐑛𐑯𐑧𐑑
    𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦𐑟.
<p>
    ·𐑛𐑬𐑯𐑤𐑴𐑛 𐑞 ·𐑥𐑨𐑒𐑴𐑧𐑕 𐑦𐑯𐑕𐑑𐑷𐑤𐑼 𐑣𐑽:
</p>
<p><a href="https://joro.io/files/Shaw-Spell-1.1.dmg"><strong>Shaw-Spell-1.1.dmg</strong></a></p>
<p>
    𐑓𐑲𐑯𐑛 𐑬𐑑 𐑥𐑹 𐑩𐑚𐑬𐑑 𐑞 𐑐𐑮𐑪𐑡𐑧𐑒𐑑 𐑣𐑽: <a href="https://joro.io/2025/12/11/shaw-spell/">joro.io</a>.
</p>
<h3>𐑒𐑪𐑐𐑦𐑮𐑲𐑑</h3>
<p>·𐑖𐑷-·𐑕𐑐𐑧𐑤 © 2025 <a href="https://joro.io">joro.io</a> • ·𐑥𐑦𐑑 𐑤𐑲𐑕𐑩𐑯𐑕]</p>
<p>𐑚𐑦𐑤𐑑 𐑪𐑯 𐑑𐑪𐑐 𐑝:</p>
<ul>
    <li><a href="https://github.com/shavian-info/readlex">·𐑮𐑰𐑛𐑤𐑧𐑒𐑕</a> • ·𐑥𐑦𐑑 𐑤𐑲𐑕𐑩𐑯𐑕</li>
    <li><a href="https://github.com/globalwordnet/english-wordnet">𐑴𐑐𐑩𐑯 ·𐑦𐑙𐑜𐑤𐑦𐑖 𐑢𐑻𐑛𐑯𐑧𐑑 2024</a> • 𐑕𐑰𐑕𐑰 𐑚𐑲 4.0</li>
    <li><a href="https://github.com/shavian-info/interalia">·shavian.info's 𐑦𐑯𐑑𐑻-·𐑱𐑤𐑾 𐑓𐑪𐑯𐑑</a> • ·𐑕𐑦𐑤 𐑴𐑐𐑩𐑯 𐑓𐑪𐑯𐑑 𐑤𐑲𐑕𐑩𐑯𐑕</li>
</ul>
