<h3>
    About the project
</h3>
<p>
    TShaw-Spell is a bidirectional Shavian-"English" dictionary that I have developed with Claude Code.
    Also available as a native macOS dictionary and spell-checker!
</p>
<p>
    The dictionaries were built on top of <a href="https://readlex.pythonanywhere.com">Readlex</a>,
    the authoritative source of truth for Shavian spelling. The word definitions come from
    <a href="https://github.com/globalwordnet/english-wordnet">Open Wordnet</a>.
    The macoOS spelling-correction engine is built using Hunspell, again using the Readlex and Wordnet
    dictionaries.
<p>
    Download the macOS installer here:
</p>
<p><a href="https://joro.io/downloads/Shaw-Spell-1.0-beta.dmg"><strong>Shaw-Spell-1.0-beta.dmg</strong></a></p>
<p>
    Find out more about the project here: <a href="https://joro.io/2025/12/11/shaw-spell/">joro.io</a>.
</p>
<h3>Copyright</h3>
<p>Shaw-Spell © 2025 joro.io • MIT License]</p>
<p>Built on top of:</p>
<ul>
    <li><a href="https://github.com/shavian-info/readlex">Readlex</a> • MIT License</li>
    <li><a href="https://github.com/globalwordnet/english-wordnet">Open English WordNet 2024</a> • CC BY 4.0</li>
    <li><a href="https://github.com/shavian-info/interalia">shavian.info's Inter-Alia Font</a> • SIL Open Font License</li>
</ul>
